@tailwind base;
@tailwind components;
@tailwind utilities;


/* aquí pondré propriedades de css si quiero y la directiva @apply de tailwind para agrupar clases */


h1 {
    font-size:x-large;
    font-family: 'Montserrat', sans-serif;
  }

  h5 {
    font-size: xx-large;
    font-family:'Montserrat', sans-serif;
  }

  h2 {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
  }

  h3 {
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
  }

  h4 {
    font-size: xx-large;
    font-family: 'Calligraffitti', sans-serif;
  }

  body {
    font-family:'Open Sans', sans-serif; ;
  }

  .text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertically center */
    align-items: center;      /* Horizontally center */
  }
  
  img {
    margin-bottom: 20px;  /* Optional: Adds space between image and text */
  }

  .calligraffitti-regular {
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  